<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Crea tu propia aplicación de datos Open Source</title>

		<meta name="description" content="Aplicación de Noticias">
		<meta name="author" content="Gabriela Rodriguez">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/serif.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>Aplicación de Datos</h1>
					<h3>¡tú puedes!</h3>
					<p>
						<small>Presentación por <a href="http://gaba.stayover.org">Gabriela "Gaba" Rodriguez</a> / <a href="http://twitter.com/gaba">@gaba</a> / <a href="http://www.opennews.org">Open News Fellow 2014</a></small>
					</p>
				</section>

				<section>
					<h3>¿Qué es una aplicación de noticias?</h3>
					<p>¿Qué vamos a hacer?</p>
					<p>Jugar con conjunto de datos desde <a href="http://espanaenllamas.es/">http://espanaenllamas.es/</a></p>
					<p><a href="http://gabelula.github.io/espanaenllamas/build/">http://gabelula.github.io/espanaenllamas/build/</a></p>
					<aside class="notes">
						Una web que muestre la base de datos y un mapa interactivo de incendios en España.
						http://gabelula.github.io/espanaenllamas/build/
					</aside>
				</section>

				<section>
					<section>
						<h3>Pre-requisitos</h3>
					</section>
					<section>
						<h3>Linea de Comandos</h3>
						<p>En Windows: prompt<p>
						<p>En Linux y Mac: Console y Terminal</p>
					</section>
					<aside class="notes"></aside>
					<section>
						<h3>Editor de Texto</h3>
						<p>Un editor de texto plano. No sirve Word pues agrega formato y otras cosas al texto que no necesitamos. Recomendaciones: notepad, sublime, gedit<p>
					</section>
					<aside class="notes"></aside>
					<section>
						<h3>Python - version 2.7</h3>
            <p>En Windows https://www.python.org/download/windows</p>
						<p>En Mac: ya está incluido</p>
						<p>En Linux: apt-get install python</p>
					</section>
					<aside class="notes"></aside>
					<section>
						<h3>Pip</h3>
						<p>un manejador de packetes para python</p>
						<p>En Windows: http://docs.python-guide.org/en/latest/starting/install/win/</p>
						<p>En Mac: sudo easy_install pip</a></p>
						<p>En Linux: apt-get install pip</p>
					</section>
				</section>

				<section>
					<section>
						<h3>¡Hola Flask!</h3>
						<p>un micro framework para crear aplicaciones web en python</p>
						<p>Usar pip para instalar Flask</p>
						<pre><code data-trim contenteditable>$ pip install Flask</code></pre>
					</section>
					<aside class="notes">Flask es un python microframework que usaremos para hacer la app.</aside>

					<section>
						<h3>Crear directorio en donde pondremos archivos con código de la aplicación</h3>
						<pre>
							<code data-trim contenteditable>
								$ mkdir mi-app
							</code>
						</pre>
						<p>Adentro crear archivo llamado app.py, donde configuremos Flask y servira como backend de nuestro proyecto.</p>
					</section>
					<aside class="notes"></aside>

					<section>
						<h3>Abrir app.py en un editor</h3>
						<p></p>
						<pre>
							<code contenteditable>
								from flask import Flask
								app = Flask(__name__)
							</code>
						</pre>
					</section>
					<aside class="notes">Aqui estamos importando lo basico de Flask. Este archivo sera el backend de la aplicación.</aside>

					<section>
						<h3>Configurar para hacer la raíz de tu sitio</h3>
						<p>Usaremos un archivo llamado 'index.html' para colocar la información. Tenemos que especificarlo en app.py</p>
						<pre>
							<code contenteditable>
								from flask import Flask
								from flask import render_template
								app = Flask(__name__)

								@app.route("/")
								def index():
								    return render_template('index.html')
							</code>
						</pre>
					</section>
					<aside class="notes"></aside>

					<section>
						<h3>Crear directorio "templates"</h3>
						<p>dentro del directorio de nuestro proyecto.</p>
						<pre>
							<code data-trim contenteditable>
								$ mkdir templates
							</code>
						</pre>
					</section>
					<aside class="notes"></aside>

					<section>
						<h3>Crear "index.html"</h3>
						<p>dentro del directorio "templates" y colocarle cualquier texto.</p>
						<pre>
							<code data-trim contenteditable>
								¡Hola Mundo!
							</code>
						</pre>
					</section>
					<aside class="notes"></aside>

					<section>
						<h3>Volver a editar app.py</h3>
						<p>y agregarle lo siguiente para poder levantar el servidor local de Flask</p>
						<pre>
							<code contenteditable>
								from flask import Flask
								from flask import render_template
								app = Flask(__name__)

								@app.route("/")
								def index():
								    return render_template('index.html')

								if __name__ == '__main__':
								    app.run(
								        host="0.0.0.0",
								        port=8000,
								        use_reloader=True,
								        debug=True,
								    )
							</code>
						</pre>
					</section>

					<section>
						<h3>Correr app.py en la linea de comandos</h3>
						<p>Mirar el resultado en un navegador en http://localhost:8000</p>
						<pre>
							<code data-trim contenteditable>
								$ python app.py
							</code>
						</pre>
					</section>
				</section>

				<section>
					<section>
						<h3>¡Hola HTML!</h3>
						<p>Comenzar nuevamente editando "index.html". Reemplazar el contenido por el esqueleto de un archivo HTML</p>
								<xmp>
									<!doctype html>
									<html lang="es">
									    <head></head>
									    <body>
									        <h1>Incendios en España entre 2004 y 2014</h1>
									    </body>
									</html>
								</xmp>
								<p>En linea de comandos correr app.py
									<pre><code>$ python app.py</code></pre>
									y visitar http://localhost:8000 nuevamente</p>
					</section>

					<section>
						<h3>Crear directorio para guardar archivos estáticos</h3>
						<p>Aqui guardaremos el CSV con nuestros datos</p>
						<pre>
							<code data-trim contenteditable>
								$ mkdir static
							</code>
						</pre>
					</section>

					<section>
						<h3>Guardar archivo CSV</h3>
						<p>descargarlo desde <a href="https://github.com/gabelula/espanaenllamas/blob/master/static/incendios.csv">https://github.com/gabelula/espanaenllamas/</a> y guardarlo en directorio "static".</p>
					</section>

					<section>
						<h3>Abrir app.py en editor de texto</h3>
						<p>Usaremos libreria csv para acceder a nuestros datos</p>
						<pre>
							<code contenteditable>
								import csv
								from flask import Flask
								from flask import render_template
								app = Flask(__name__)

								csv_path = './static/incendios.csv'
								csv_obj = csv.DictReader(open(csv_path, 'r'))
								csv_list = list(csv_obj)

								@app.route("/")
								def index():
								    return render_template('index.html')

								if __name__ == '__main__':
								    app.run(
								        host="0.0.0.0",
								        port=8000,
								        use_reloader=True,
								        debug=True,
								    )

							</code>
						</pre>
					</section>
					<section>
						<h3>Pasarle la lista de datos del csv a index.html</h3>
						<p></p>
						<pre>
							<code contenteditable>
								import csv
								from flask import Flask
								from flask import render_template
								app = Flask(__name__)

								csv_path = './static/incendios.csv'
								csv_obj = csv.DictReader(open(csv_path, 'r'))
								csv_list = list(csv_obj)

								@app.route("/")
								def index():
								    return render_template('index.html',
								        object_list=csv_list,
								    )

								if __name__ == '__main__':
								    app.run(
								        host="0.0.0.0",
								        port=8000,
								        use_reloader=True,
								        debug=True,
								    )

							</code>
						</pre>
					</section>
					<section>
						<h3>Guardar app.py y editar index.html</h3>
						<p>Colocar la lista del csv en el index.html</p>
								<xmp>
									<!doctype html>
									<html lang="es">
											<head></head>
											<body>
													<h1>Incendios en España entre 2004 y 2014</h1>
													{{ object_list }}
											</body>
									</html>
								</xmp>
						<p>En linea de comandos correr app.py
							<pre><code>$ python app.py</code></pre>
							y visitar http://localhost:8000 nuevamente</p>
					</section>
					<section>
						<h3>Vamos a darle formato a los datos en index.html</h3>
						<p>Estamos usando el lenguaje de templating jinja de Flask</p>
<xmp>
	<!doctype html>
	<html lang="es">
	    <head></head>
	    <body>
	        <h1>Incendios en España entre 2004 y 2014</h1>
	        <table border=1 cellpadding=7>
	            <tr>
	                <th>Comunidad</th>
	            </tr>
	        {% for obj in object_list %}
	            <tr>
	                <td>{{ obj['COMUNIDAD'].decode('UTF-8') }}</td>
	            </tr>
	        {% endfor %}
	        </table>
	    </body>
	</html>
</xmp>
					</section>
					<section>
						<h3>Refrescar el navegador con nuestra aplicación</h3>
						<xmp>
								    <table border=1 cellpadding=7>
							        <tr>
													<th>Identificador</th>
							            <th>Superficie Forestal Quemada</th>
							            <th>Fecha</th>
							            <th>Muertos</th>
							            <th>Heridos</th>
							            <th>Comunidad</th>
							            <th>Provincia</th>
							            <th>Comarca</th>
							            <th>Causa</th>
							            <th>Perdidas</th>
							        </tr>
							    {% for obj in object_list %}
							        <tr>
													<td>{{ obj['IDPIF'] }}</td>
							            <td>{{ obj['SUPQUEMADA'] }}</td>
							            <td>{{ obj['FECHA'] }}</td>
							            <td>{{ obj['MUERTOS'] }}</td>
							            <td>{{ obj['HERIDOS'] }}</td>
							            <td>{{ obj['COMUNIDAD'].decode('UTF-8') }}</td>
							            <td>{{ obj['PROVINCIA'].decode('UTF-8') }}</td>
							            <td>{{ obj['COMARCA'].decode('UTF-8') }}</td>
							            <td>{{ obj['CAUSA'].decode('UTF-8')  }}</td>
							            <td>{{ obj['PERDIDAS'] }}</td>
							        </tr>
							    {% endfor %}
							    </table>
						</xmp>
					</section>
					<section>
						<h3>Refrescar el navegador para nuestra app</h3>
						<p>http://localhost:8000</p>
					</section>
				</section>

				<section>
					<section>
						<h3>Ahora página de detalles por incendio</h3>
						<p>Agregamos una nueva ruta en archivo "app.py"</p>
						<pre>
							<code contenteditable>
								import csv
								from flask import Flask
								from flask import render_template
								app = Flask(__name__)

								...

								@app.route("/")
								def index():
								    return render_template('index.html',
								                           object_list=csv_list
								                          )

								@app.route('/<number>/')
								def detail(number):
								    return render_template('detail.html')

								if __name__ == '__main__':
								  ...

							</code>
						</pre>
					</section>

					<section>
						<h3>Agreguemos el template "detail.html"</h3>
						<p></p>
						<pre>
							<code data-trim contenteditable>
								# Macs y Linux:
								$ touch templates/detail.html
							</code>
						</pre>
						<pre>
							<code data-trim contenteditable>
								# Windows:
								$ start notepad++ templates/detail.html
							</code>
						</pre>
					</section>

					<section>
						<h3>Editamos el archivo detail.html</h3>
						<p>Agregar algo simple. Y levantamos la página en el navegador con cualquier número. http://localhost:8000/2004210126/</p>
						<pre>
							<code data-trim contenteditable>
								¡Hola España!
							</code>
						</pre>
					</section>

					<section>
						<h3>Buscamos el incendio</h3>
						<p>Conectamos el número en la URL con el número identificador real del incendio en el CSV.</p>
						<p>Editamos app.py y convertimos la lista que tenemos en algo donde el incendio sea fácilmente buscable por identificador</p>
						<pre>
							<code contenteditable>
								csv_path = './static/incendios.csv'
								csv_obj = csv.DictReader(open(csv_path, 'r'))
								csv_list = list(csv_obj)

								csv_dict = dict([[o['IDPIF'], o] for o in csv_list])
							</code>
						</pre>
					</section>

					<section>
						<h3>Editamos la función detail en app.py</h3>
						<p>para que conecte el número en la URL con el registro correspondiente.</p>
						<pre>

								@app.route('/<number>/')

								def detail(number):
								    return render_template('detail.html',
								        object=csv_dict[number],
								    )
						</pre>
					</section>

					<section>
						<h3>Volver a editar detail.html</h3>
						<p>para agregarle datos desde nuestro CSV</p>
<xmp>
		<!doctype html>
		<html lang="es">
		    <head>
					<meta name="Incendios en España"  content="text/html;"
					http-equiv="content-type" charset="utf-8">
				</head>
		    <body>
		        <h1>{{ object['COMUNIDAD'].decode('UTF-8') }}</h1>
		    </body>
		</html>
</xmp>
					</section>

					<section>
						<h3>Reiniciar el servidor y refrescar el navegador del incendio</h3>
						<p>http://localhost:8000/2004210126/</p>
						<pre>
							<code data-trim contenteditable>
								$ python app.py
							</code>
						</pre>
					</section>

					<section>
						<h3>Editar "index.html" para enlazar la página del incendio</h3>
						<p>En la tag table reemplazar la fila de
							<xmp><td>{{ obj['IDPIF'] }}</td></xmp>
								por
						</p>
						<xmp>
							<td><a href="{{ obj['IDPIF'] }}/">{{ obj['IDPIF'] }}</a></td>
						</xmp>
					</section>

					<section>
						<h3>Reiniciar el servidor de pruebas y refrescar el navegador</h3>
						<p>http://localhost:8000</p>
						<pre>
							<code data-trim contenteditable>
								$ python app.py
							</code>
						</pre>
					</section>

					<section>
						<h3>Agregar el resto de los campos del incendio</h3>
						<p>en detail.html</p>
<xmp>
	<body>
	  <h1>Incendio de {{ object['COMUNIDAD'].decode('UTF-8') }}</h1>
	  <p>En la comunidad {{ object['COMUNIDAD'].decode('UTF-8') }},
			provincia {{ object['PROVINCIA'].decode('UTF-8') }},
			comarca {{ object['COMARCA'].decode('UTF-8') }},
			municipio {{ object['MUNICIPIO'].decode('UTF-8') }} se quemó una
			superficie forestal de {{ object['SUPQUEMADA'] }}.
			Hubieron {{ object['MUERTOS'] }} muertos y {{ object['HERIDOS'] }}
			heridos. Se detectó en la fecha {{ object['FECHA'] }}. Se pudo
			controlar en {{ object['TIME_CTRL'] }} minutos y extinguir
			en {{ object['TIME_EXT'] }} minutos. La causa del incendio
			fue {{ object['CAUSA'].decode('UTF-8') }}. En la extinción
			del incendio participaron {{ object['PERSONAL'] }} personas,
			{{ object['PESADOS'] }} vehiculos pesados y {{ object['AEREOS'] }}
			medios aereos.</p>
	</body>
</xmp>
					</section>
				</section>

				<section>
					<section>
						<h2>¡Hola Javascript!</h2>
						<p>Ahora vamos a colocar un mapa con los incendios usando una libreria de Javascript llamada Leaflet. Primero hay que importarla en el archivo "index.html"</p>
<xmp>
  <head>

		<meta name="Incendios en España"  content="text/html;"
		http-equiv="content-type" charset="utf-8">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script type="text/javascript"
		src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>

	</head>
</xmp>
					</section>

					<section>
						<h3>Crear un elemento HTML para el mapa</h3>
						<pre>
							<code contenteditable>
								  ... inicio del body ...

									<div id="map" style="width:100%; height:300px;"></div>

									... aca esta la table ...

							</code>
					  </pre>
					</section>
					<section>
						<h3>Y usar <strong>Leaflet</strong> para centrarlo en España</h3>
						<xmp>
						    <script type="text/javascript">

						      var map = L.map('map').setView([40.2085,-3.713], 14);

						      var mapquestLayer =
									new L.TileLayer(
										'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
						          maxZoom: 18,
						          attribution: 'Data, imagery and map information provided by
											<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,
											<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>
											and contributors.',
						          subdomains: ['otile1','otile2','otile3','otile4']
						      });

						      map.addLayer(mapquestLayer);

						    </script>
							</body>
						</xmp>
					</section>

					<section>
						<h3>Inicializamos el mapa con las coordenadas de España y nivel de zoom</h3>
						<pre>
							<code contenteditable>
								<script type="text/javascript">

									var map = L.map('map').setView([40.2085,-3.713], 6);

									...

								</script>
							</code>
						</pre>
					</section>


					<section>
						<h3>Agregamos la capa de tiles desde mapquest, que utiliza open street map.</h3>
						<p>Se le pasa la URL para las imagenes de tiles, el nivel máximo de zoom (18) y el texto sobre de donde vienen los mapas.</p>
						<pre>
							<code contenteditable>
								<script type="text/javascript">

									...

									var mapquestLayer =
									new L.TileLayer(
										'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
											maxZoom: 18,
											attribution: '[...]',
											subdomains: ['otile1','otile2','otile3','otile4']
									});

									...

								</script>
							</code>
						</pre>
					</section>


					<section>
						<h3>Le agregamos el layer al elemento del mapa</h3>
						<pre>
							<code contenteditable>
								<script type="text/javascript">

									...

									map.addLayer(mapquestLayer);

								</script>
							</code>
						</pre>
					</section>


					<section>
						<h3>Transformar los datos del CSV que tenemos a GeoJSON</h3>
						<p>GeoJSON es un formato para guardar estructuras de datos geograficos junto a información no geografica</p>
						<pre>
							<code contenteditable>
  <script type="text/javascript">
		...

    var data = {
      "type": "FeatureCollection",
      "features": [
        {% for obj in object_list %}
        {
          "type": "Feature",
          "properties": {
            "causa": "{{ obj['CAUSA'].decode('UTF-8') }}",
            "id": "{{ obj['IDPIF'] }}"
          },
          "geometry": {
            "type": "Point",
            "coordinates": [{{ obj['LONGITUD'] }}, {{ obj['LATITUD'] }}]
          }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    };

		var dataLayer = L.geoJson(data);

		map.addLayer(dataLayer);
  </script>
							</code>
						</pre>
					</section>

					<section>
						<h3>Agregar una ventanita popup que muestre información sobre el incendio</h3>
						<p>Sustituir</p>
						<pre>
							<code data-trim contenteditable>
								var dataLayer = L.geoJson(data);
							</code>
						</pre>
						<p>por</p>
						<pre>
							<code data-trim contenteditable>
					      var dataLayer = L.geoJson(data, {
					          onEachFeature: function(feature, layer) {
					              layer.bindPopup(feature.properties.causa);
					          }
					      });
							</code>
						</pre>
					</section>

					<section>
						<h3>Y ahora envolver la superficie por un link al incendio</h3>
						<p>Sustituir lo anterior por</p>
						<pre>
							<code data-trim contenteditable>
								            var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.causa +
                        '</a>'
                    );
                }
            });
							</code>
						</pre>
					</section>

					<section>
						<h3>Hacemos lo mismo en "detail.html"</h3>
						<p>agregamos un mapa del incendio.</p>
						<pre>
							<code>
	<div id="map" style="width:100%; height:300px;"></div>

	...

	<script type="text/javascript">

	  var map = L.map('map').setView([ {{ object['LATITUD'] }},
																		 {{object['LONGITUD'] }}], 16);

	  var mapquestLayer = new L.TileLayer(
			'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png',
			{
	      maxZoom: 18,attribution: 'attribution [...]',
	      subdomains: ['otile1','otile2','otile3','otile4']
	  });

	  map.addLayer(mapquestLayer);

  	L.marker([{{ object['LATITUD'] }},{{ object['LONGITUD'] }}]).addTo(map);

	</script>
</body>
						</code></pre>
					</section>

				</section>

				<section>
					<section>
						<h3>¡Hola Internet!</h3>
						<p>Ahora publicaremos nuestra aplicación de datos en Internet. Vamos a usar Frozen Flask para generar archivos estaticos desde nuestra app.</p>
					</section>

					<section>
						<h3>Frozen Flask</h3>
						<p>una libreria de Python que crea una página estatica por cada página que hicimos.</p>
						<p>Usar pip para instalar Frozen Flask</p>
						<pre>
							<code data-trim contenteditable>
								$ pip install Frozen-Flask
							</code>
						</pre>
					</section>

					<section>
						<h3>Crear un archivo freeze.py</h3>
						<p>en el mismo directorio que app.py</p>
						<pre>
							<code contenteditable>
		from flask_frozen import Freezer
		from app import app
		freezer = Freezer(app)

		if __name__ == '__main__':
		    freezer.freeze()
							</code>
						</pre>
					</section>

					<section>
						<h3>Correrlo desde linea de comandos</h3>
						<p>Se creará un directorio <strong>build</strong> con un monton de archivos estaticos.</p>
						<pre>
							<code data-trim contenteditable>
								$ python freeze.py
							</code>
						</pre>
					</section>


					<section>
						<h3>Usar el navegador</h3>
						<p>para abrir uno de los archivos generados en <strong>build</strong>. Lo único que paso a estaticos fueron las páginas de "index.html". Tenemos que editar freeze.py para incluir "detail.html"</p>
						<pre>
							<code  contenteditable>
								from flask_frozen import Freezer
								from app import app, csv_list
								freezer = Freezer(app)

								@freezer.register_generator
								def detail():
								    for row in csv_list:
								        yield {'number': row['IDPIF']}

								if __name__ == '__main__':
								    freezer.freeze()
							</code>
						</pre>
					</section>


					<section>
						<h3>Correrlo desde linea de comandos</h3>
						<p>Ahora se generan muchos más archivos en <strong>build</strong>.</p>
						<pre>
							<code data-trim contenteditable>
								$ python freeze.py
							</code>
						</pre>
					</section>

				</section>

				<section>
					<section>
						<h3>¡Hola GIT!</h3>
						<p>GitHub Pages hostea páginas estaticas de forma gratuita</p>
						<ul>
							<li>En Windows: http://windows.github.com</li>
							<li>En Mac: http://mac.github.com</li>
							<li>En Linux: apt-get install git</li>
						</ul>
					</section>

					<section>
						<h3>Inicializemos GIT localmente</h3>
						<p>En linea de comandos</p>
						<pre>
							<code contenteditable>
								$ git init
								$ git add .
								$ git commit -m "Agregamos todo el proyecto a GIT"
							</code>
						</pre>
					</section>

					<section>
						<h3>Creamos cuenta en GitHub</h3>
						<p>Ir a <a href="http://github.com">http://github.com</a> y crear cuenta.</p>
					</section>

					<section>
						<h3>Creamos repositorio en GitHub</h3>
						<p>Y lo agregamos a nuestro GIT local. Las instrucciones aparecen en la misma pagina web de github.com donde crearon el repositorio.</p>
						<pre>
							<code data-trim contenteditable>
								$ git remote add origin http://github.com/.../.../
							</code>
						</pre>
					</section>

					<section>
						<h3>Finalmente publiquemos la app en github-pages</h3>
						<p>Para esto sólo tenemos que crear un branch gh-pages en nuestro repositorio.</p>
						<pre>
	<code contenteditable>
	$ git checkout -b gh-pages # Crear el nuevo ramal
	$ git push origin gh-pages # Publicar desde nuevo ramal a GitHub
	</code>
						</pre>
					</section>

					<section>
						<h3>Luego de unos minutos tu app estara publicada en</h3>
						<p><a href="http://gabelula.github.io/espanaenllamas/build/">http://tunombredeusuario.github.io/tuapp/build/index.html</a></p>
					</section>

				</section>

				<section>
					<h3>Tutoriales y Referencias en linea</h3>
					<ol>
						<li>Git y GitHub <a href="http://git-scm.com/book/es/">Pro GIT</a>.</li>
						<li>Esta presentación en <a href="https://github.com/gabelula/first-news-barna">mi primera aplicación de datos</a></li>
						<li>La inspiración para este taller viene del mismo dado por <a href="http://first-news-app.readthedocs.org/en/latest">Ben Welsh durante NICAR 2014</a>.</li>
						<li>Tutorial de <a href="http://flask.pocoo.org/docs/tutorial/">Flask</a> (en ingles)</li>
						<li>Documentación sobre <a href="http://es.diveintopython.net/toc.html">Python</a> y <a href="http://www.pip-installer.org/en/latest/">Pip</a></li>
						<li><a href="http://leafletjs.com/">Leaflet</a></li>
						<li>Como hostear paginas en <a href="https://pages.github.com/">Github Pages</a></li>
					</ol>
				</section>

				<section>
					<h1>¡Gracias!</h1>
					<h3>@gaba</h3>
					<h3>gaba@datauy.org</h3>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				history: true,
				keyboard: true,
				touch: true,
				hideAddressBar: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
